{:highlights [{:id #uuid "6a6d91c2-0b70-4838-acee-94b6c634d9f7",
               :page 11,
               :position {:bounding {:x1 86.0625,
                                     :y1 353.40625,
                                     :x2 570.973876953125,
                                     :y2 436,
                                     :width 656.9999999999999,
                                     :height 894.9235553571427},
                          :rects ({:x1 158.921875,
                                   :y1 353.40625,
                                   :x2 570.973876953125,
                                   :y2 369.40625,
                                   :width 656.9999999999999,
                                   :height 894.9235553571427}
                                  {:x1 456.46875,
                                   :y1 362.984375,
                                   :x2 462.703125,
                                   :y2 371.984375,
                                   :width 656.9999999999999,
                                   :height 894.9235553571427}
                                  {:x1 86.0625,
                                   :y1 371.578125,
                                   :x2 570.9346923828125,
                                   :y2 387.578125,
                                   :width 656.9999999999999,
                                   :height 894.9235553571427}
                                  {:x1 327.828125,
                                   :y1 371.765625,
                                   :x2 336.5,
                                   :y2 380.765625,
                                   :width 656.9999999999999,
                                   :height 894.9235553571427}
                                  {:x1 126.40625,
                                   :y1 381.15625,
                                   :x2 132.625,
                                   :y2 390.15625,
                                   :width 656.9999999999999,
                                   :height 894.9235553571427}
                                  {:x1 275.609375,
                                   :y1 381.15625,
                                   :x2 281.4375,
                                   :y2 390.15625,
                                   :width 656.9999999999999,
                                   :height 894.9235553571427}
                                  {:x1 158,
                                   :y1 397.71875,
                                   :x2 170,
                                   :y2 413.71875,
                                   :width 656.9999999999999,
                                   :height 894.9235553571427}
                                  {:x1 86.0625,
                                   :y1 407.203125,
                                   :x2 123.74504089355469,
                                   :y2 423.203125,
                                   :width 656.9999999999999,
                                   :height 894.9235553571427}
                                  {:x1 131.71875,
                                   :y1 418.03125,
                                   :x2 197.859375,
                                   :y2 434.03125,
                                   :width 656.9999999999999,
                                   :height 894.9235553571427}
                                  {:x1 137.96875,
                                   :y1 426,
                                   :x2 145.046875,
                                   :y2 436,
                                   :width 656.9999999999999,
                                   :height 894.9235553571427}
                                  {:x1 156.75,
                                   :y1 426,
                                   :x2 161.453125,
                                   :y2 436,
                                   :width 656.9999999999999,
                                   :height 894.9235553571427}
                                  {:x1 188.609375,
                                   :y1 426,
                                   :x2 193.3125,
                                   :y2 436,
                                   :width 656.9999999999999,
                                   :height 894.9235553571427}),
                          :page 11},
               :content {:text "The number of permutations of n objects, where p1 objects are of one kind, p2 are of second kind, ..., pk are of kth kind and the rest, if any, are of different kind is1 2!! ! !k n p p ... p "},
               :properties {:color "yellow"}}],
 :extra {:page 25}}
